@import './base.css';

@font-face {
  font-family: 'Cabin Condensed';
  src: url('./fonts/CabinCondensed-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Cabin Condensed';
  src: url('./fonts/CabinCondensed-SemiBold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Cabin Condensed';
  src: url('./fonts/CabinCondensed-Bold.woff2') format('woff2');
  font-weight: 700;
}

body {
  background-image: url('./background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin: 0;
  font-family: 'Cabin Condensed', sans-serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  white-space: nowrap;
}
